server {
	listen 0.0.0.0:8080 default_server;
	root /var/www/html;
	index index.php index.html index.htm index.nginx-debian.html;
	client_max_body_size 100M;
	server_name _;
	location / {
			try_files $uri $uri/ /index.php?$args;
	}
	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/run/php/php-fpm.sock;
	}
}