#!/bin/bash
set -e
workdir="$(dirname $(readlink -f $0))"

logdir=${workdir}/logs
if [[ ! -f "${logdir}" ]]; then mkdir -p "${logdir}"; fi
lastlog="${logdir}/last.out"
fulllog="${logdir}/all.out"
touch "${fulllog}"
tail --bytes=$(expr $(wc -c < ${fulllog}) - 104857600) ${fulllog} > ${fulllog}.tmp
mv ${fulllog}.tmp ${fulllog}
date +%F_%H-%M |tee -a "${lastlog}" "${fulllog}"
gsutil -m cp -r "{{gcs_repo}}/ansible" /opt/installer |tee -a "${lastlog}" "${fulllog}"
unbuffer ansible-playbook --diff -v /opt/installer/ansible/playbook.yaml --extra-vars "url={{url}} gcs_repo={{gcs_repo}} php_config_secret_id={{php_config_secret_id}}" |tee -a "${lastlog}" "${fulllog}"

#EOF